main{
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: justify;
}

body {
  background-color: black;
  background-image: url(https://i.pinimg.com/originals/0f/ca/e9/0fcae95862cbc16cfe0bc46bc6b6e34c.png);
}

header{
  background-color: black;
  height: 6rem;
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 3;
}
.NomePrincipal{
  color: white;
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  
}
.LinksNavegacao{
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  text-decoration: none;
  color: white;
}
.MenuHeader{
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  position: relative;
  height: 2.75rem;
}
.footer{
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  color: black;
}
#seta{
  background-color: black;
  border-radius: 20%;
  border: 2px solid #696969;
  font-size: 35px;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
}
header h1{
  font-family: 'Righteous', cursive;
}
header a{
  font-family: 'Rajdhani', sans-serif;
}
header a:hover{
  color: white;
  font-weight: bolder;
  font-size: 100%;
  text-decoration: none;
}

h1{
  padding-left: 2%;
}
.reviews{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;

}
.reviews img{
  border: solid black 5px;
  border-radius: 2%;
  opacity: 1;
  width: 30em;
  height: 20em;
margin-bottom: 1em;

}
main h1{
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 400%;
  color: black;
}
.post h2 {
  opacity: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);

  color: white;
  padding-right: 1%;
  padding-left: 0.5%;
  padding-top: 0.5%;
  font-size: 225%;
  font-family: 'Rubik', sans-serif;
}

footer {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(255, 255, 255, 0.7);
}
